.cproject
.project
CMakeFiles/
src/MPP/Shader/ShaderSources/backup/
src/MPP/Shader/ShaderSources/__generated/GenericLightingUberShader*
assets/textures/currently unneeded/
assets/blendfiles/misc_notInRepo/
assets/blendfiles/raptor/notInRepo/
bin/
lib/
include/GL3/
Makefile
CMakeCache.txt
flewnitLog.txt
.csettings
cmake_install.cmake
*.dia~
*.dia.autosave
